.header
  .header-title 
    = link_to "De活", root_path
  #ul.header-list
    %li= link_to "選手一覧", "#"
    %li= link_to "今日のポジ要素", "#"
    %li= link_to "アイウエオ", "#"
    %li= link_to "ログイン", "#", class:"login-btn"
  %i#show.fa.fa-bars
  #menu
    %i#hide.fa.fa-times
    %ul
      %li= link_to "さん", "#"
      %li= link_to "a", "#"
      

