.header
  .header-left
    .header-left-title 
      = link_to "De活", root_path
    .header-left-question
      = link_to tops_intro_path, method: :get do
        =icon('fas', 'question-circle', class:"header-left-question")
  - if user_signed_in?
    #ul.header-list
      %li= link_to "選手一覧", players_path
      %li= link_to "マイページ", user_path(current_user.id)
      %li= link_to "ログアウト", destroy_user_session_path, method: :delete 
  - else
    #ul.header-list
      %li= link_to "選手一覧", players_path
      %li= link_to "今日のポジ要素", "#"
      %li= link_to "ログイン", new_user_session_path
  %i#show.fa.fa-bars
  #menu
    %i#hide.fa.fa-times
    %ul
      %li= link_to "投稿する", new_post_path
      %li= link_to "マイページ", user_path(current_user.id)
      %li= link_to "公式サイト", 'https://www.baystars.co.jp/'
      

