.top-modal#modal
  .top-modal-show
    = link_to "詳細", "#"
  .top-modal-edit
    = link_to "編集する", "#"
  .top-modal-deelete
    = link_to "削除する", "#"



.me
  .mycontact
    .mycontact-1
      .mycontact-1-title
        ぜひご連絡お待ちしてます
      .mycontact-1-icon
        =icon('fas', 'times')
    .mycontact-email
      = link_to "email", "#"
    .mycontact-tell
      = link_to "電話する", "#"