.top-modal#modal
  .top-modal-show
    = link_to "詳細", "#"
  .top-modal-edit
    = link_to "編集する", "#"
  .top-modal-deelete
    = link_to "削除する", "#"



.me
  .mycontact
    .mycontact-1
      .mycontact-1-title
        ぜひご連絡お待ちしてます
      .mycontact-1-icon#batsu
        =icon('fas', 'times', class:"batsu")
    .mycontact-email
      .mycontact-email-icon
        =icon('far', 'envelope')
      .mycontact-email-text
        = link_to "email", "#"
    .mycontact-tell
      .mycontact-tell-icon
        =icon('fas', 'phone')
      .mycontact-tell-text
        = link_to "電話する", "#"